body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 20px;
    text-align: left;
    position: relative;
}

.header-content h1 {
    margin: 0;
}

#login-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    background-color: #0069D9;
    color: white;
    border: none;
    cursor: pointer;
}
#signup-btn {
    position: absolute;
    right: 83px;
    top: 20px;
    padding: 10px;
    background-color: #0069D9;
    color: white;
    border: none;
    cursor: pointer;
}
#logout-btn {

    position: absolute;
    right: 143px;
    top: 20px;
    padding: 10px;
    background-color: #0069D9;
    color: white;
    border: none;
    cursor: pointer;
}
#service-introduction {
    display: flex;
    align-items: center;
    padding: 20px;
}

#service-introduction img {
    width: 200px;
    margin-right: 20px;
}

#rate-plans {
    background-color: #f8f9fa;
    padding: 20px;
}

.plan {
    margin-bottom: 10px;
}

#developer-contact {
    padding: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}